/.github        export-ignore
/test           export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/.*.yml         export-ignore
/README.md      export-ignore
/renovate.json  export-ignore
/*.dist         export-ignore
/composer.lock  export-ignore
/Makefile       export-ignore
